<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-chooser" 
	version="1.3.1"
>	
	<name>Chooser</name>
	<author>Cyph, Inc.</author>

	<js-module src="www/chooser.js" name="Chooser">
		<clobbers target="chooser" />
	</js-module>

	<platform name="android">
		<source-file src="src/android/Chooser.java" target-dir="src/com/cyph/cordova" />

		<config-file target="config.xml" parent="/*">
			<feature name="Chooser">
				<param name="android-package" value="com.cyph.cordova.Chooser" />
			</feature>
		</config-file>
	</platform>

	<platform name="ios">
		<source-file src="src/ios/Chooser.swift" />
		<dependency id="cordova-plugin-add-swift-support" version="*" />

		<config-file target="config.xml" parent="/*">
			<feature name="Chooser">
				<param name="ios-package" value="Chooser" />
			</feature>
		</config-file>
	</platform>
</plugin>
